<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UX Researcher, Data Analyst, and Full-Stack Web Developer">
    <meta name="keywords" content="susan renaud, portfolio, ux, user research, research, full stack web development, web development, data analyst, data analysis, ruby on rails, le wagon">
    <meta name="author" content="Susan Renaud">
    <title>Susan Renaud - Portfolio</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400|Open+Sans:300,400,600&display=swap" rel="stylesheet">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "NewLogo2.png" %>
    <% end %>

      <div><h2 id="name">Susan Renaud</h2></div>

      <div class="navbar-buttons">
        <btn class="btns">
          <%= link_to('About', root_path) %>
        </btn>
        <btn class="btns">
          <%= link_to('Projects', projects_path) %>
        </btn>
        <btn class="btns">
          <%= link_to('Resume', root_path) %>
        </btn>
        <btn class="btns">
          <%= link_to "Contact", projects_path, class: "contact" %>
        </btn>
      </div>

    </div>


    <%= yield %>
  </body>
</html>
