<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="UX Researcher, Data Analyst, and Full-Stack Web Developer">
    <meta name="keywords" content="susan renaud, portfolio, ux, user research, research, full stack web development, web development, data analyst, data analysis, ruby on rails, le wagon">
    <meta name="author" content="Susan Renaud">
    <title>Susan Renaud - Portfolio</title>
    <link href="css/bootstrap.css" rel="stylesheet" type="text/css" />


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "NewLogo2.png" %>
    <% end %>


      <div class="collapse navbar-collapse" id="  navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        <li class="nav-item-light">
        <%= link_to "Projects", projects_path, class: "btn btn-primary" %>
        </li>
        <li class="nav-item active">
          <i class="fas fa-plus"></i>
          <%= link_to('Download CV', root_path) %>
        </li>
        </ul>
      </div>
    </div>

    <%= yield %>
  </body>
</html>
